body
  background-image  : url("/assets/images/bg_blue.png")
  background-size   : 100% auto

.logo
  margin      :   auto
  clear       :   both
  margin-left :   38%
  margin-top  :   7.5%

.logo a img
  width : 39% 
  height: 100%
  
.info 
  width      : 50%
  margin     : 0 auto
  margin-top : 10%
  // padding : 10%
    
.info-text
  margin      : 0 auto
  color       : #767676
  font-weight : bolder

.input-box .form-group
  width : 50%
  margin  : 0 auto
  margin-top  : 10px

.password
  width   : 35%
  margin  : 0 auto
  margin-top  : 10px

.inline
  display:inline