div.modal.fade#ds-msg-modal(tabindex="-1", role="dialog", aria-labelledby="ds-msg-modal-label", aria-hidden="true", style="display:none;")
    div.modal-dialog
        div.modal-content
            div.modal-header
                button.close(type="button", data-dismiss="modal", aria-hidden="true") ×
                h4.modal-title#ds-msg-modal-label 状态提示 
            div.modal-body
            div.modal-footer
