.deepdash-sidebar 
  nav.navbar.navbar-default.deepdash-sidebar-header(role="navigation")
    div.navbar-header
      a.navbar-brand(href="/")
          small
              i
                img(src="/assets/v2/images/logo_inside.png", width="130px")
  div.navbar-default.sidebar.deepdash-sidebar-content(role="navigation")
      div.sidebar-nav.navbar-collapse
          ul.nav.in#side-menu
              li
                  div#slidebar-app-info
                      img#slidebar-app-icon
                      span#slidebar-app-name
              li
                  a(href="/#/overall")
                      i.fa.fa-bar-chart-o.fa-fw
                      | 数据概览 
              li
                  a(href="/#/marketing")
                      i.fa.fa-wrench.fa-fw
                      | 渠道检测
              li
                  a(href="/#/pr")
                      i.fa.fa-chain.fa-fw
                      | 推广链接
              li
                  a(href="/#/sms")
                      i.fa.fa-comment.fa-fw
                      | 短信推广 
                      sup beta
              li
                  a(href="/#/appinfo")
                      i.fa.fa-info.fa-fw
                      | 应用信息
              li
                  a(href="/#/create-app")
                      i.fa.fa-code.fa-fw
                      | 集成引导
              li
                  a(href="/#/simulator")
                      i.fa.fa-magic.fa-fw
                      | 效果模拟
